# Web Scraping for Indeed.com & Predicting Salaries

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary classifier.

We are going to collect salary information on data science jobs in a variety of markets. Then using the location, title, and summary of the job we will attempt to predict the salary of the job. For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use a random forest classifier, as well as another classifier of your choice; either logistic regression, SVM, or KNN. 

- **Question**: Why would we want this to be a classification problem?
- **Answer**: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Therefore, the first part of the assignment will be focused on scraping Indeed.com. In the second, we'll focus on using listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract those.

#### Set up a request (using requests) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)
The URL here has many query parameters
- q for the job search
- This is followed by "+20,000" to return results with salaries (or expected salaries >$20,000)
- l for a location
- start for what result number to start on

In [2]:
# Import necessary libraries
import bs4
from bs4 import BeautifulSoup
import urllib
import re

In [5]:
# Function to extract location from Indeed search result
def location_res(result):
    tag = result.find(name='span', attrs={'class':'location'}) #find appropriate tag
    try:
        if re.search("<",tag.renderContents()): #helps clean the data and only extract actual text instead of html code
            return tag.find(name='span', attrs={'itemprop':'addressLocality'}).renderContents()
        else:
            return entry.renderContents()
    except:
        return 'NaN'

In [6]:
# Function to extract company name from Indeed search result
def company_res(result):
    tag = result.find(name='span', attrs={'itemprop':'name'}) #find appropriate tag
    try: #First try statement accounts for whether there is any company at all
        try: #Second try statement accounts for whether there any nested tags
            return tag.find('a').renderContents()
        except:
            return tag.renderContents()
    except:
        return 'NaN'

In [7]:
# Function to extract job title
def job_res(result):
    try: #Accounts for missing job title
        tag = result.find(name='a', attrs={'data-tn-element':'jobTitle'})
        return tag.renderContents()
    except:
        return 'NaN'

In [8]:
# Function to extract salary
def salary_res(result):
    tag = result.find(name='td', attrs={'class':'snip'})
    tag2 = tag.find('nobr')
    try: # Try statement is especially important for this function since most results don't have a salary
        return tag2.renderContents()
    except:
        return 'NaN'

In [9]:
# This function iterates through each result on a single Indeed.com results page then applies the four functions
# above to extract the relevant information. It takes a search argument in order to also keep track of the search
# term used, since location can give a different value than the actual city or location searched.
def all_funcs(search):
    entries=[]
    for result in soup.find_all(name='div', attrs={'class':' row result'}):
        result_data=[]
        result_data.append(job_res(result))
        result_data.append(company_res(result))
        result_data.append(location_res(result))
        result_data.append(salary_res(result))
        result_data.append(search)
        entries.append(result_data)
    return entries

In [12]:
import pandas as pd
from time import sleep
import datetime

In [52]:
max_results_per_city = 3000
results = [] #Empty list that will contain all results
a = datetime.datetime.now() # Start time of process
print a
city_list = ['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
    'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh', 
    'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami', 'Washington%2C+DC', 
    'Baltimore', 'El+Paso', 'Boston','Bethesda%2C+MD','Morrisville%2C+NC',
    'Palo+Alto%2C+CA','Redmond%2C+WA','Mountain+View%2C+CA','El+Segundo%2C+CA',
    'Herndon%2C+VA','Menlo+Park%2C+CA', 'Collegeville%2C+PA','Roseland%2C+NJ',
    'Princeton%2C+NJ','St.+Louis%2C+MO', 'Tampa%2C+FL','Cambridge%2C+MA',
    'Stamford%2C+CT','Santa+Clara%2C+CA','Detroit', 'Ann+Arbor%2C+MI', 
    'Des+Moines%2C+IA', 'Minneapolis%2C+MN','New+Orleans']

for city in city_list: # Iterate through cities
    for start in range(0, max_results_per_city, 10): #Iterate through results pages
        url="http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=" + city + "&start=" + str(start)
        html = urllib.urlopen(url).read()
        soup = BeautifulSoup(html, 'html.parser', from_encoding="utf-8")
        data = all_funcs(city) #use functions from before to extract all job listing info
        for i in range(len(data)): #add info to results list
            results.append(data[i])
        sleep(1)
    print city + " DONE"
    print "Elapsed time: " + str(datetime.datetime.now() - a) #Update user on progress
        
b = datetime.datetime.now()
c = b - a
print c

#Turn results list into dataframe
df = pd.DataFrame(results,columns=['Job Title','Company','Location','Salary','Search Term'])

df.to_csv('FILEPATH/FILENAME.csv') #Save data

del results #Remove results list from memory

2017-04-11 23:43:35.312408
Bethesda%2C+MD DONE
2017-04-11 23:50:22.142442 0:06:46.830191
Morrisville%2C+NC DONE
2017-04-11 23:56:46.531761 0:13:11.219413
Palo+Alto%2C+CA DONE
2017-04-12 00:03:40.606056 0:20:05.293708
Redmond%2C+WA DONE
2017-04-12 00:10:35.961321 0:27:00.649018
Mountain+View%2C+CA DONE
2017-04-12 00:17:45.693266 0:34:10.380940
El+Segundo%2C+CA DONE
2017-04-12 00:24:42.294780 0:41:06.983958
Herndon%2C+VA DONE
2017-04-12 00:31:36.120337 0:48:00.807994
Menlo+Park%2C+CA DONE
2017-04-12 00:38:50.463017 0:55:15.150910
Collegeville%2C+PA DONE
2017-04-12 00:45:59.129439 1:02:23.817304
Roseland%2C+NJ DONE
2017-04-12 00:53:01.092451 1:09:25.780103
Princeton%2C+NJ DONE
2017-04-12 00:59:42.040190 1:16:06.727843
St.+Louis%2C+MO DONE
2017-04-12 01:06:21.505255 1:22:46.192909
Tampa%2C+FL DONE
2017-04-12 01:13:21.407556 1:29:46.095421
Cambridge%2C+MA DONE
2017-04-12 01:20:17.836725 1:36:42.524396
Stamford%2C+CT DONE
2017-04-12 01:27:10.784225 1:43:35.471877
Santa+Clara%2C+CA DONE
2017-04-12 01:34:06.775713 1:50:31.463384
Detroit DONE
2017-04-12 01:40:55.923566 1:57:20.611215
Ann+Arbor%2C+MI DONE
2017-04-12 01:47:47.739718 2:04:12.427377
Des+Moines%2C+IA DONE
2017-04-12 01:54:39.002705 2:11:03.690568
Minneapolis%2C+MN DONE
2017-04-12 02:01:35.465563 2:18:00.153237
New+Orleans DONE
2017-04-12 02:08:12.447044 2:24:37.134917
2:24:37.135241

## Predicting salaries using Random Forests + Another Classifier

Here I'm loading in several csvs of data I scraped over the course of three days. I ran this program several times, expanding the list of cities and changing the maximum number of results. I never took any cities off the list, even though this meant that numerous duplicates showed up. My thinking behind this was that I'd like to catch as many job listings as possible, so if some more went up in certain cities, I could catch those, and remove the duplicates later on, which I did.

In [54]:
# df1 = pd.read_csv('/Users/mjspeck/Desktop/Indeed_data/overnight_monday.csv')
# df2 = pd.read_csv('/Users/mjspeck/Desktop/Indeed_data/tues_morn_20.csv')
# df3 = pd.read_csv('/Users/mjspeck/Desktop/Indeed_data/tues_morn_class.csv')
# df4 = pd.read_csv('/Users/mjspeck/Desktop/Indeed_data/second_major_run.csv')
# df5 = pd.read_csv('/Users/mjspeck/Desktop/Indeed_data/tues_overnight_run.csv')
# df6 = pd.read_csv('/Users/mjspeck/Desktop/Indeed_data/first_run.csv')

In [65]:
master_df = pd.concat([df1, df2, df3, df4, df5, df6])

In [68]:
master_df.drop('Unnamed: 0',axis=1,inplace=True) #Every time a df is saved to a csv, it creates an unnamed column

In [72]:
master_df.drop_duplicates(inplace=True) #This dropped LOTS of duplicates

Since the purpose of this project was to calculate the median salary of a data scientist and then use NLP to predict whether a given job listing would offer a salary above or below the median, any listing without a salary had to be dropped. It was a shame since at least 90% of the job listings did not contain salary information.

In [91]:
# Create df containing only observations that had a salary value
df_salary = pd.DataFrame(master_df[master_df.Salary.isnull() == False])

In [100]:
df_salary.Company.replace(to_replace='\n', value='',inplace=True, regex=True) #Remove useless characters

In [106]:
df_salary['Job Title'].replace(to_replace=['<b>','</b>'], value='', inplace=True, regex=True) #Remove useless characters

In [121]:
# More characters to remove
df_salary['Search Term'].replace(to_replace='\+', value = ' ', inplace=True, regex=True)
df_salary['Search Term'].replace(to_replace='\%2C', value = ',', inplace=True, regex=True)

In [131]:
# Removing all characters between and including < >
df_salary['Location'].replace(to_replace='<.*?>',value = '', inplace=True, regex=True)

In [134]:
#Let's see how the clean data looks
df_salary.head()

,Job Title,Company,Location,Salary,Search Term
0,Data Scientist,Platinum Solutions,"Houston, TX","$80,000 - $120,000 a year",Houston
17,Bioinformatics Software Developer,Genialis,"Houston, TX","$50,000 - $80,000 a year",Houston
19,Data Scientist,Engage Partners,"Houston, TX",$120 an hour,Houston
22,Quality Assurance Analyst (Research),Baylor College of Medicine,"Houston, TX","$43,794 a year",Houston
32,Flow Cytometry Specialist I,Baylor College of Medicine,"Houston, TX","$46,831 a year",Houston

Here, even though I had already taken out all observations without a salary value, I had to cut down the data even further by removing entries with hourly wages instead of a salary.

In [136]:
# Remove all rows with hourly salary
df_salary_yearly = df_salary[df_salary.Salary.str.contains('hour',case=False) == False]

In [143]:
# Take dollar signs out 
df_salary_yearly['Salary'].replace(to_replace=['\$',',',' a year'], value='', inplace=True, regex=True)

In [145]:
df_salary_yearly.head(5)

,Job Title,Company,Location,Salary,Search Term
0,Data Scientist,Platinum Solutions,"Houston, TX",80000 - 120000,Houston
17,Bioinformatics Software Developer,Genialis,"Houston, TX",50000 - 80000,Houston
22,Quality Assurance Analyst (Research),Baylor College of Medicine,"Houston, TX",43794,Houston
32,Flow Cytometry Specialist I,Baylor College of Medicine,"Houston, TX",46831,Houston
52,Research Statistical Analyst -Bioinformatics &...,MD Anderson Cancer Center,"Houston, TX",66400 - 99600,Houston

Now that I had a cleaned up salary column, I had to deal with the salary ranges. To do this, I wrote two functions that could be applied to the salary column. One would take the lower value, the other would take the upper value. Then, I used the returned values from these functions to make two columns for the upper and lower values of the salary.

In [152]:
def split_func_lower(val):
    return val.split('-')[0]

In [153]:
def split_func_upper(val):
    val.split('-')
    try:
        return val.split('-')[1]
    except:
        return val.split('-')[0]

In [165]:
lower_col=df_salary_yearly.Salary.apply(split_func_lower)

In [161]:
upper_col = df_salary_yearly.Salary.apply(split_func_upper)

In [177]:
#Everything looks good
df_salary_yearly.head()

,Job Title,Company,Location,Salary,Search Term,lower_sal_val,upper_sal_val
0,Data Scientist,Platinum Solutions,"Houston, TX",80000 - 120000,Houston,80000,120000
17,Bioinformatics Software Developer,Genialis,"Houston, TX",50000 - 80000,Houston,50000,80000
22,Quality Assurance Analyst (Research),Baylor College of Medicine,"Houston, TX",43794,Houston,43794,43794
32,Flow Cytometry Specialist I,Baylor College of Medicine,"Houston, TX",46831,Houston,46831,46831
52,Research Statistical Analyst -Bioinformatics &...,MD Anderson Cancer Center,"Houston, TX",66400 - 99600,Houston,66400,99600

In [178]:
#Removing spaces so that column dtypes will be ints
df_salary_yearly['lower_sal_val'].replace(to_replace=' ', value='', inplace=True, regex=True)
df_salary_yearly['upper_sal_val'].replace(to_replace=' ', value='', inplace=True, regex=True)

In [179]:
df_salary_yearly.dtypes

Job Title        object
Company          object
Location         object
Salary           object
Search Term      object
lower_sal_val    object
upper_sal_val    object
dtype: object

Here I realized that I had not accounted for monthly or weekly salaries, so I filtered those observations out as well.

In [188]:
#Also did this for 'month' and 'week'
#df_salary_yearly = df_salary_yearly[df_salary_yearly.Salary.str.contains('day',case=False) == False]

In [189]:
df_salary_yearly[['lower_sal_val','upper_sal_val']] = df_salary_yearly[['lower_sal_val','upper_sal_val']].astype(int)

In [300]:
df_salary_yearly.head(10)

,Job Title,Company,Location,Salary,Search Term,lower_sal_val,upper_sal_val,mean salary,median_bool,60_perc_bool,70_perc_bool,75_perc_bool,90_perc_bool,state
0,Data Scientist,Platinum Solutions,"Houston, TX",80000 - 120000,Houston,80000,120000,100000.0,False,False,False,False,False,'TX'
17,Bioinformatics Software Developer,Genialis,"Houston, TX",50000 - 80000,Houston,50000,80000,65000.0,False,False,False,False,False,'TX'
22,Quality Assurance Analyst (Research),Baylor College of Medicine,"Houston, TX",43794,Houston,43794,43794,43794.0,False,False,False,False,False,'TX'
32,Flow Cytometry Specialist I,Baylor College of Medicine,"Houston, TX",46831,Houston,46831,46831,46831.0,False,False,False,False,False,'TX'
52,Research Statistical Analyst -Bioinformatics &...,MD Anderson Cancer Center,"Houston, TX",66400 - 99600,Houston,66400,99600,83000.0,False,False,False,False,False,'TX'
148,Data Architect,Career Evolutions,"Phoenix, AZ",150000,Phoenix,150000,150000,150000.0,True,True,True,True,False,'AZ'
168,RESEARCH AND STATISTICAL ANALYST,Arizona Health Care Cost Containment S...,"Phoenix, AZ",39983 - 55500,Phoenix,39983,55500,47741.5,False,False,False,False,False,'AZ'
181,AIR QUALITY PLANNER 2-3,State of Arizona,"Phoenix, AZ",45000 - 77000,Phoenix,45000,77000,61000.0,False,False,False,False,False,'AZ'
191,Paralegal,"Emord &amp; Associates, P.C.","Gilbert, AZ 85295",45000 - 55000,Phoenix,45000,55000,50000.0,False,False,False,False,False,'AZ'
198,ENVIRONMENTAL SCIENTIST - EMISSIONS,State of Arizona,"Phoenix, AZ",49000 - 61000,Phoenix,49000,61000,55000.0,False,False,False,False,False,'AZ'

In [192]:
df_salary_yearly['mean salary'] = 0.5*df_salary_yearly.lower_sal_val + 0.5*df_salary_yearly.upper_sal_val

In [195]:
import numpy as np

In [196]:
np.median(df_salary_yearly['mean salary'])

108607.5

In [198]:
#Function to return median salary boolean
def above_median(val):
    if val > np.median(df_salary_yearly['mean salary']):
        return True
    else:
        return False

In [199]:
df_salary_yearly['median_bool'] = df_salary_yearly['mean salary'].apply(above_median)

In [202]:
df_salary_yearly.to_csv('clean_data.csv')

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

We could also perform Linear Regression (or any regression) to predict the salary value here. Instead, we are going to convert this into a _binary_ classification problem, by predicting two classes, HIGH vs LOW salary.

While performing regression may be better, performing classification may help remove some of the noise of the extreme salaries. We don't _have_ to choose the `median` as the splitting point - we could also split on the 75th percentile or any other reasonable breaking point.

In fact, the ideal scenario may be to predict many levels of salaries,

In [209]:
q_list=[60,70,75]

In [210]:
np.percentile(df_salary_yearly['mean salary'],q=c)

140000.0

In [224]:
## YOUR CODE HERE
# Numpy percentile: https://docs.scipy.org/doc/numpy-dev/reference/generated/numpy.percentile.html
def above_percentile(val):
    if val > np.percentile(df_salary_yearly['mean salary'],q=90):
        return True
    else:
        return False

In [225]:
df_salary_yearly['90_perc_bool'] = df_salary_yearly['mean salary'].apply(above_percentile)

In [246]:
df_salary_yearly.head(5)

,Job Title,Company,Location,Salary,Search Term,lower_sal_val,upper_sal_val,mean salary,median_bool,60_perc_bool,70_perc_bool,75_perc_bool,90_perc_bool,state
0,Data Scientist,Platinum Solutions,"Houston, TX",80000 - 120000,Houston,80000,120000,100000.0,False,False,False,False,False,[TX]
17,Bioinformatics Software Developer,Genialis,"Houston, TX",50000 - 80000,Houston,50000,80000,65000.0,False,False,False,False,False,[TX]
22,Quality Assurance Analyst (Research),Baylor College of Medicine,"Houston, TX",43794,Houston,43794,43794,43794.0,False,False,False,False,False,[TX]
32,Flow Cytometry Specialist I,Baylor College of Medicine,"Houston, TX",46831,Houston,46831,46831,46831.0,False,False,False,False,False,[TX]
52,Research Statistical Analyst -Bioinformatics &...,MD Anderson Cancer Center,"Houston, TX",66400 - 99600,Houston,66400,99600,83000.0,False,False,False,False,False,[TX]

In [236]:
#Need to take out state
# http://stackoverflow.com/questions/7090717/regular-expression-to-match-3-capital-letters-followed-by-a-small-letter-followe
re.findall('[A-Z]{2}',df_salary_yearly.Location.iloc[387])[0]

'CA'

In [238]:
#Extract states
df_salary_yearly['state'] = df_salary_yearly.Location.str.findall('[A-Z]{2}')

In [288]:
#Somehow this was a list type
df_salary_yearly['state'] = df_salary_yearly['state'].astype(str)

In [289]:
#Remove brackets from states
df_salary_yearly['state'].replace(to_replace=['\[','\]'], value='',inplace=True,regex=True)

In [291]:
#df_salary_yearly.to_csv('../csvs/df_state2.csv')

In [290]:
df_salary_yearly.head(10)

,Job Title,Company,Location,Salary,Search Term,lower_sal_val,upper_sal_val,mean salary,median_bool,60_perc_bool,70_perc_bool,75_perc_bool,90_perc_bool,state
0,Data Scientist,Platinum Solutions,"Houston, TX",80000 - 120000,Houston,80000,120000,100000.0,False,False,False,False,False,'TX'
17,Bioinformatics Software Developer,Genialis,"Houston, TX",50000 - 80000,Houston,50000,80000,65000.0,False,False,False,False,False,'TX'
22,Quality Assurance Analyst (Research),Baylor College of Medicine,"Houston, TX",43794,Houston,43794,43794,43794.0,False,False,False,False,False,'TX'
32,Flow Cytometry Specialist I,Baylor College of Medicine,"Houston, TX",46831,Houston,46831,46831,46831.0,False,False,False,False,False,'TX'
52,Research Statistical Analyst -Bioinformatics &...,MD Anderson Cancer Center,"Houston, TX",66400 - 99600,Houston,66400,99600,83000.0,False,False,False,False,False,'TX'
148,Data Architect,Career Evolutions,"Phoenix, AZ",150000,Phoenix,150000,150000,150000.0,True,True,True,True,False,'AZ'
168,RESEARCH AND STATISTICAL ANALYST,Arizona Health Care Cost Containment S...,"Phoenix, AZ",39983 - 55500,Phoenix,39983,55500,47741.5,False,False,False,False,False,'AZ'
181,AIR QUALITY PLANNER 2-3,State of Arizona,"Phoenix, AZ",45000 - 77000,Phoenix,45000,77000,61000.0,False,False,False,False,False,'AZ'
191,Paralegal,"Emord &amp; Associates, P.C.","Gilbert, AZ 85295",45000 - 55000,Phoenix,45000,55000,50000.0,False,False,False,False,False,'AZ'
198,ENVIRONMENTAL SCIENTIST - EMISSIONS,State of Arizona,"Phoenix, AZ",49000 - 61000,Phoenix,49000,61000,55000.0,False,False,False,False,False,'AZ'

#### Thought experiment: What is the baseline accuracy for this model?

Hmmmmmmmmmmm

#### Create a Random Forest model to predict High/Low salary using Sklearn. Start by ONLY using the location as a feature.

In [261]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier

In [361]:
#Resetting indeces since they are the indeces from the original 10,000+ observation dataset
df_salary_yearly.reset_index(drop=True,inplace=True)

In [362]:
## YOUR CODE HERE
#Do two models: predict using Search Term, and using State

from sklearn.preprocessing import LabelEncoder
y = LabelEncoder().fit_transform(df_salary_yearly['median_bool'])
X = pd.get_dummies(df_salary_yearly['Search Term']) #Not sure if I need to drop_first

In [390]:
X = pd.get_dummies(df_salary_yearly['Search Term'],drop_first=True)

In [363]:
df_salary_yearly['Search Term'].nunique()

38

In [396]:
X2 = pd.get_dummies(df_salary_yearly['state'],drop_first=True)

In [397]:
X2.shape

(649, 23)

In [413]:
clf=RandomForestClassifier(n_estimators=20, max_depth=20)
#clf_fit = clf.fit(X,y)
scores = cross_val_score(clf, X, y, cv=10)

In [414]:
#Super shitty using only location
print scores
print np.std(scores)
print np.mean(scores)

[ 0.68181818  0.45454545  0.39393939  0.24242424  0.35384615  0.671875
  0.3125      0.3125      0.40625     0.359375  ]
0.140262901274
0.418907342657

In [299]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# sns.lmplot(x='X', y='Y', hue='PdDistrict', fit_reg=False, data=sf_crime)
# plt.show()

In [301]:
import patsy

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.model_selection import GridSearchCV

In [369]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
logreg_cv = LogisticRegressionCV(Cs=10, cv=10, penalty='l1', scoring='accuracy', solver='liblinear')
logreg_cv.fit(X_train, y_train)

print('best C for class:')
best_C = {logreg_cv.classes_[i]:x for i, (x, c) in enumerate(zip(logreg_cv.C_, logreg_cv.classes_))}
print(best_C)

best C for class:
{0: 0.35938136638046259}

In [370]:
scores_2 = cross_val_score(logreg_cv, X_train, y_train, cv=10)

In [398]:
print scores_2
print np.std(scores_2)
print np.mean(scores_2)

[ 0.56521739  0.58695652  0.65217391  0.60869565  0.55555556  0.57777778
  0.48888889  0.64444444  0.55555556  0.6       ]
0.0449770907428
0.583526570048

# Need a bunch of models! Good Random Forest and Logistic Regression, use gridsearch, classification report (4.06), NLP (count vectorizer)

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' is in the title 
- or whether 'Manager' is in the title. 
- Then build a new Random Forest with these features. Do they add any value?

In [322]:
#Import CV method
from sklearn.feature_extraction.text import CountVectorizer

In [372]:
cvec = CountVectorizer(stop_words='english')

# Fitting the vectorizer on our training data
cvec.fit(df_salary_yearly['Job Title'])

CountVectorizer(analyzer=u'word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words='english',
        strip_accents=None, token_pattern=u'(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [373]:
cvec_data = pd.DataFrame(cvec.transform(df_salary_yearly['Job Title']).todense(),
                       columns=cvec.get_feature_names())

In [375]:
cvec_data.head()

,000,01,04,10,10b,17096,1809,196,2017,500,...,visual,visualization,vp,waste,water,web,wellness,working,world,youth
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [331]:
word_counts = cvec_data.sum(axis=0)
word_counts.sort_values(ascending = False).head(20)

data            257
scientist       241
analyst         154
research        122
engineer         95
senior           92
learning         53
machine          51
software         34
manager          33
amp              32
quantitative     25
science          24
developer        24
statistical      23
sr               23
principal        20
analytics        19
lead             18
clinical         18
dtype: int64

In [381]:
print cvec_data.shape
print X2.shape

(649, 459)
(649, 24)

In [383]:
X2.head()

,'AZ','CA','CO','CT','DC','DE','FL','GA','IA','IL',...,'MN','MO','NC','NJ','NY','OR','PA','TX','VA','WA'
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [417]:
#Create an X matrix that has state dummy variables as well as CountVec vals
X_state = pd.concat([cvec_data, X2], axis=1, join_axes=[X_state.index])

In [418]:
X_state.shape

(649, 482)

In [415]:
X_search = pd.concat([cvec_data, X], axis=1, join_axes=[X.index])

In [416]:
X_search.shape

(649, 496)

In [420]:
#Do a test train split using cvec data as well as search term dummy variables
X_search_train, X_search_test, y_search_train, y_search_test = train_test_split(X_search, y, test_size=0.3)
logreg_cv = LogisticRegressionCV(Cs=10, cv=10, penalty='l1', scoring='accuracy', solver='liblinear')
logreg_cv.fit(X_search_train, y_search_train)

#take accuracy scores of fit
scores_search = cross_val_score(logreg_cv, X_search_train, y_search_train, cv=10)

In [421]:
print scores_search
print np.std(scores_search)
print np.mean(scores_search)

[ 0.82978723  0.73913043  0.86956522  0.71111111  0.84444444  0.86666667
  0.8         0.88888889  0.86666667  0.84444444]
0.0559258104138
0.826070510844

In [424]:
#Do the same thing, but use state instead of search term
X_state_train, X_state_test, y_state_train, y_state_test = train_test_split(X_state, y, test_size=0.3)
logreg_cv = LogisticRegressionCV(Cs=10, cv=10, penalty='l1', scoring='accuracy', solver='liblinear')
logreg_cv.fit(X_state_train, y_state_train)

scores_state = cross_val_score(logreg_cv, X_state_train, y_state_train, cv=10)

print scores_state
print np.std(scores_state)
print np.mean(scores_state)

[ 0.84782609  0.84782609  0.82608696  0.86956522  0.89130435  0.91304348
  0.88888889  0.82222222  0.77272727  0.68181818]
0.0642349086314
0.836130873957

In [439]:
clf=RandomForestClassifier(n_estimators=20, max_depth=20)
#clf_fit = clf.fit(X_search_train,y_search_train)
scores = cross_val_score(clf, X_search, y, cv=10)
print scores
print np.std(scores)
print np.mean(scores)

[ 0.87878788  0.77272727  0.81818182  0.86363636  0.76923077  0.921875
  0.828125    0.90625     0.796875    0.703125  ]
0.064736306181
0.825881410256

In [429]:
clf.feature_importances_

array([  1.28512387e-03,   1.03014902e-04,   0.00000000e+00,
         5.26625567e-03,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   2.49281028e-04,   6.26085828e-04,
         1.66224463e-04,   2.93816839e-05,   6.81213879e-05,
         6.11649443e-04,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   1.62467301e-03,   1.53420496e-03,
         1.14476170e-03,   1.02753429e-03,   6.84865078e-04,
         6.00417953e-04,   0.00000000e+00,   4.53716969e-04,
         2.78168455e-03,   4.90522685e-03,   6.23840084e-02,
         0.00000000e+00,   1.18093084e-05,   2.02894965e-03,
         7.87072140e-04,   9.43095447e-05,   0.00000000e+00,
         0.00000000e+00,   1.00549200e-03,   1.98934196e-04,
         1.97259742e-03,   1.98554822e-03,   1.95587743e-03,
         0.00000000e+00,   3.58700154e-03,   0.00000000e+00,
         2.16826940e-03,   0.00000000e+00,   0.00000000e+00,
         3.50195600e-06,   2.40131689e-03,   0.00000000e+00,
         1.59857335e-03,   5.69004563e-04,   4.88113543e-05,
         0.00000000e+00,   2.46953950e-05,   6.02528224e-03,
         2.75563554e-03,   6.68806725e-04,   0.00000000e+00,
         2.09702536e-03,   1.33527940e-05,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         9.82558461e-04,   4.17558151e-05,   4.19750825e-04,
         0.00000000e+00,   3.25241668e-03,   5.31220182e-03,
         0.00000000e+00,   1.26990129e-03,   5.84184915e-05,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   7.41821888e-06,   1.31031630e-04,
         0.00000000e+00,   4.88729715e-06,   2.07712605e-03,
         0.00000000e+00,   0.00000000e+00,   8.06260179e-03,
         6.36589427e-04,   7.75714159e-05,   1.34753663e-03,
         4.10962841e-05,   1.20766188e-05,   2.00859327e-03,
         0.00000000e+00,   7.73358348e-04,   3.71132655e-04,
         4.12078855e-03,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   8.14953354e-03,   2.00476908e-03,
         0.00000000e+00,   1.18755784e-05,   2.76630898e-06,
         0.00000000e+00,   0.00000000e+00,   1.31009837e-01,
         7.30153446e-04,   0.00000000e+00,   0.00000000e+00,
         3.96679716e-04,   0.00000000e+00,   0.00000000e+00,
         5.69244224e-03,   2.71135623e-03,   0.00000000e+00,
         8.97535337e-04,   0.00000000e+00,   2.11840466e-03,
         8.26303447e-03,   0.00000000e+00,   1.51620819e-05,
         2.86948785e-05,   2.08866721e-03,   1.61154633e-03,
         0.00000000e+00,   1.47731991e-04,   0.00000000e+00,
         0.00000000e+00,   1.15986798e-04,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         2.40986853e-04,   0.00000000e+00,   7.99829921e-04,
         5.28982475e-05,   4.03922043e-02,   9.39070231e-04,
         0.00000000e+00,   0.00000000e+00,   3.77409192e-03,
         6.75215983e-03,   0.00000000e+00,   0.00000000e+00,
         2.58201843e-05,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   2.28566693e-03,   9.15841505e-04,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         8.04057732e-05,   9.55087908e-04,   1.63807535e-03,
         0.00000000e+00,   0.00000000e+00,   6.37177372e-04,
         6.94099902e-04,   6.07071705e-05,   0.00000000e+00,
         0.00000000e+00,   2.77192645e-03,   0.00000000e+00,
         6.76899801e-04,   4.71418323e-04,   0.00000000e+00,
         1.27254964e-04,   5.07618024e-04,   0.00000000e+00,
         1.07338989e-03,   0.00000000e+00,   4.37211721e-03,
         1.24977490e-04,   0.00000000e+00,   0.00000000e+00,
         6.91120943e-04,   0.00000000e+00,   1.36900453e-03,
         0.00000000e+00,   0.00000000e+00,   3.52913021e-03,
         0.00000000e+00,   0.00000000e+00,   1.31818108e-05,
         4.32410029e-04,   0.00000000e+00,   3.84443011e-04,
         1.36878833e-04,   4.79913219e-03,   4.02077907e-03,
         0.00000000e+00,   3.51264852e-03,   2.64788020e-03,
         0.00000000e+00,   7.23501301e-04,   2.46803202e-03,
         0.00000000e+00,   0.00000000e+00,   1.30059419e-03,
         4.12651769e-05,   6.51249061e-04,   0.00000000e+00,
         6.99963706e-04,   0.00000000e+00,   7.07321585e-05,
         0.00000000e+00,   1.18968539e-04,   0.00000000e+00,
         0.00000000e+00,   3.39941144e-05,   2.13753298e-03,
         7.68223714e-04,   0.00000000e+00,   1.43234348e-03,
         4.79694485e-04,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   2.02362913e-03,   8.42160950e-04,
         2.47747711e-03,   4.61086799e-04,   2.91078743e-03,
         7.13154473e-04,   6.92277241e-04,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         4.13570345e-04,   4.08362146e-05,   5.50534954e-04,
         1.49819977e-02,   6.84579569e-04,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   6.20341152e-03,
         1.07185076e-03,   4.10975628e-02,   0.00000000e+00,
         8.88125014e-05,   4.64934825e-03,   0.00000000e+00,
         0.00000000e+00,   3.04999386e-04,   3.70917603e-03,
         1.74123480e-03,   0.00000000e+00,   1.30679841e-04,
         0.00000000e+00,   2.61032524e-02,   0.00000000e+00,
         5.63771142e-04,   0.00000000e+00,   4.67997882e-03,
         0.00000000e+00,   0.00000000e+00,   4.88552338e-04,
         6.86659545e-04,   2.20695725e-03,   6.31517313e-04,
         1.14161848e-03,   5.87542293e-04,   1.25589242e-03,
         0.00000000e+00,   0.00000000e+00,   2.29391090e-03,
         2.62312608e-05,   3.47511713e-04,   5.54569170e-04,
         1.50007306e-06,   1.60288188e-03,   5.43327315e-04,
         0.00000000e+00,   1.17175969e-03,   1.61546189e-03,
         0.00000000e+00,   1.36289226e-04,   5.91204860e-04,
         6.52857594e-04,   5.32556083e-05,   4.72392765e-05,
         3.35631962e-03,   0.00000000e+00,   0.00000000e+00,
         6.96999154e-05,   0.00000000e+00,   0.00000000e+00,
         8.92638729e-04,   1.16747750e-03,   4.58856063e-05,
         1.16836983e-04,   0.00000000e+00,   3.40840137e-05,
         3.47119783e-05,   0.00000000e+00,   2.79172689e-03,
         0.00000000e+00,   0.00000000e+00,   1.00600595e-03,
         5.62840056e-05,   0.00000000e+00,   7.25885298e-04,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         8.33715232e-04,   0.00000000e+00,   0.00000000e+00,
         1.43814618e-04,   0.00000000e+00,   2.70173881e-03,
         8.17890657e-04,   0.00000000e+00,   4.95392947e-04,
         0.00000000e+00,   0.00000000e+00,   1.98263949e-03,
         1.32272003e-03,   2.47434456e-03,   0.00000000e+00,
         1.83943974e-03,   5.40002538e-05,   0.00000000e+00,
         1.24423869e-02,   4.05533324e-04,   1.59152284e-03,
         1.22866734e-03,   0.00000000e+00,   6.64719946e-03,
         1.37303796e-03,   5.84772738e-03,   1.18609641e-03,
         2.08370630e-07,   0.00000000e+00,   0.00000000e+00,
         9.24783625e-04,   0.00000000e+00,   3.85349486e-03,
         2.12511235e-03,   5.81559090e-04,   2.96150242e-03,
         6.91712101e-03,   1.24483904e-04,   1.33944082e-03,
         0.00000000e+00,   3.57745426e-06,   2.36499880e-03,
         3.70844521e-03,   4.18187016e-04,   1.44424693e-03,
         4.60207944e-02,   1.90138459e-03,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   2.98434574e-05,
         8.32767514e-03,   0.00000000e+00,   0.00000000e+00,
         3.23923503e-04,   0.00000000e+00,   0.00000000e+00,
         5.48193572e-03,   5.16136499e-04,   1.09825745e-03,
         0.00000000e+00,   0.00000000e+00,   1.91397616e-02,
         3.34182987e-04,   0.00000000e+00,   2.99850495e-02,
         0.00000000e+00,   3.17811922e-03,   2.48854885e-04,
         2.87579308e-02,   9.91531912e-04,   3.74278541e-03,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         8.87940893e-04,   6.37292634e-06,   7.66804342e-04,
         7.32961436e-03,   0.00000000e+00,   7.02883929e-04,
         0.00000000e+00,   3.25043990e-03,   0.00000000e+00,
         1.20218960e-03,   5.02728389e-03,   4.02632828e-03,
         8.09633688e-04,   4.63735935e-03,   3.18403719e-04,
         4.31001904e-03,   2.06847055e-05,   5.74115774e-05,
         1.74191528e-06,   5.21283702e-03,   6.53350777e-04,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   7.61042297e-06,   5.71196892e-04,
         1.49237965e-04,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   1.94985159e-03,   2.87736060e-03,
         0.00000000e+00,   2.59479954e-03,   2.72119174e-04,
         1.44724789e-03,   5.04879650e-03,   0.00000000e+00,
         0.00000000e+00,   3.41359588e-03,   0.00000000e+00,
         5.16377677e-04,   0.00000000e+00,   0.00000000e+00,
         2.62299017e-04,   1.42299091e-03,   9.27278388e-04,
         7.01186061e-04,   0.00000000e+00,   1.60047783e-03,
         3.80546068e-04,   0.00000000e+00,   1.69768949e-03,
         0.00000000e+00,   5.58026575e-03,   0.00000000e+00,
         2.62396799e-04,   7.11987096e-04,   8.54790771e-04,
         3.21799395e-05,   1.52208459e-05,   1.53607858e-04,
         5.23560414e-04,   1.46536929e-03,   1.87805240e-03,
         1.59521252e-03,   5.68613188e-03,   3.96998811e-03,
         3.17413727e-03,   8.09341917e-04,   6.28985752e-03,
         8.58247307e-03,   1.68778984e-03,   2.69734243e-03,
         2.32606855e-05,   0.00000000e+00,   2.82604824e-03,
         2.15864370e-03,   2.66351790e-03,   4.68028067e-03,
         2.89034232e-03,   8.43339710e-03,   5.34913336e-03,
         1.13106434e-03,   4.05501111e-03,   3.80944174e-03,
         9.63684618e-03,   5.85336318e-03,   1.37335545e-03,
         2.30895625e-03,   7.55008239e-04,   1.89175765e-04,
         9.47519303e-03,   6.73336527e-04,   2.24624995e-03,
         9.23055044e-03,   1.40224125e-02,   8.59602913e-04,
         6.48645004e-03,   2.08747929e-03,   3.36681492e-05,
         4.02736266e-03])

In [440]:
X_cvec_train, X_cvec_test, y_cvec_train, y_cvec_test = train_test_split(cvec_data, y, test_size=0.3)

In [441]:
clf=RandomForestClassifier(n_estimators=20, max_depth=20)
#clf_fit = clf.fit(X_cvec_train, y_cvec_train)

In [447]:
scores = cross_val_score(clf, X_cvec_train, y_cvec_train,cv=10)
print scores
print np.std(scores)
print np.mean(scores)

[ 0.89130435  0.7826087   0.86956522  0.86956522  0.82608696  0.95652174
  0.86666667  0.88888889  0.79545455  0.79545455]
0.0514733922469
0.854211682038

In [448]:
from sklearn.model_selection import cross_val_predict
from sklearn import metrics

In [452]:
clf=RandomForestClassifier(n_estimators=20, max_depth=20)
clf_fit = clf.fit(X_cvec_train, y_cvec_train)

In [453]:
predictions = cross_val_predict(clf_fit, cvec_data, y, cv=10)
accuracy = metrics.accuracy_score(y, predictions)

In [458]:
precision = metrics.precision_score(y, predictions)
sensitivity = metrics.recall_score(y, predictions)

In [459]:
# Accuracy of model
print "Accuracy: " + str(accuracy)
print "Precision: " + str(precision)
print "Sensitivity: " + str(sensitivity)

Accuracy: 0.875192604006
Precision: 0.885714285714
Sensitivity: 0.861111111111

In [455]:
feature_importances = pd.DataFrame(clf.feature_importances_,
                                   index = cvec_data.columns,
                                    columns=['importance']).sort_values('importance',
                                                                        ascending=False)
feature_importances.head()

           importance
data         0.089219
scientist    0.068727
learning     0.065603
analyst      0.063372
research     0.059086

In [483]:
important_features = feature_importances.head(50).index.tolist()

In [509]:
important_features_df = pd.DataFrame(feature_importances.head(50))

In [484]:
imp2 = []
for i in important_features:
    imp2.append(str(i))

In [485]:
print len(imp2)

50

In [482]:
n=1
for i in imp2:
    if re.search('engineer',i):
        print "YES!", n
    n+=1

YES! 6

In [486]:
df_salary_yearly.head()

,Job Title,Company,Location,Salary,Search Term,lower_sal_val,upper_sal_val,mean salary,median_bool,60_perc_bool,70_perc_bool,75_perc_bool,90_perc_bool,state
0,Data Scientist,Platinum Solutions,"Houston, TX",80000 - 120000,Houston,80000,120000,100000.0,False,False,False,False,False,'TX'
1,Bioinformatics Software Developer,Genialis,"Houston, TX",50000 - 80000,Houston,50000,80000,65000.0,False,False,False,False,False,'TX'
2,Quality Assurance Analyst (Research),Baylor College of Medicine,"Houston, TX",43794,Houston,43794,43794,43794.0,False,False,False,False,False,'TX'
3,Flow Cytometry Specialist I,Baylor College of Medicine,"Houston, TX",46831,Houston,46831,46831,46831.0,False,False,False,False,False,'TX'
4,Research Statistical Analyst -Bioinformatics &...,MD Anderson Cancer Center,"Houston, TX",66400 - 99600,Houston,66400,99600,83000.0,False,False,False,False,False,'TX'

In [493]:
#Create column with boolean values, representing whether word appears in job title
for i in imp2:
    df_salary_yearly[i + ' bool'] = df_salary_yearly['Job Title'].str.contains(i,case=False)

In [498]:
np.median(df_salary_yearly[df_salary_yearly['data bool'] == True]['mean salary'])

130000.0

In [503]:
word_medians = []
word_means = []
for i in imp2:
    word_medians.append(np.median(df_salary_yearly[df_salary_yearly[i + ' bool'] == True]['mean salary']))
    word_means.append(np.mean(df_salary_yearly[df_salary_yearly[i + ' bool'] == True]['mean salary']))

In [506]:
print len(word_medians)
print len(word_means)

50
50

In [513]:
print word_medians

[130000.0, 125000.0, 150000.0, 75000.0, 60000.0, 135000.0, 135000.0, 170000.0, 150000.0, 170000.0, 148750.0, 172500.0, 135000.0, 78790.5, 80000.0, 96250.0, 137500.0, 73570.5, 93664.0, 83421.5, 85000.0, 145000.0, 132500.0, 75557.5, 125000.0, 147500.0, 115000.0, 122500.0, 120000.0, 55000.0, 120000.0, 162500.0, 130000.0, 54095.5, 91740.5, 99624.75, 125000.0, 50000.0, 120000.0, 130000.0, 85000.0, 88746.5, 162500.0, 72500.0, 98750.0, 55000.0, 38400.0, 93750.0, 120000.0, 127500.0]

In [530]:
important_features_df['word medians'] = word_medians
important_features_df['word means'] = word_means

In [531]:
important_features_df.head()

           importance  word medians     word means
data         0.089219      130000.0  135788.343254
scientist    0.068727      125000.0  127673.600418
learning     0.065603      150000.0  149711.538462
analyst      0.063372       75000.0   85742.476510
research     0.059086       60000.0   72053.408730

In [533]:
np.median(df_salary_yearly['mean salary'])

108607.5

In [534]:
median_effect = []
for i in important_features_df['word medians']:
    if i > 108607.5:
        median_effect.append('+')
    else:
        median_effect.append('-')

In [535]:
len(median_effect)

50

In [536]:
important_features_df['word effect'] = median_effect

In [538]:
important_features_df.head(20)

               importance  word medians     word means word effect
data             0.089219      130000.0  135788.343254           +
scientist        0.068727      125000.0  127673.600418           +
learning         0.065603      150000.0  149711.538462           +
analyst          0.063372       75000.0   85742.476510           -
research         0.059086       60000.0   72053.408730           -
engineer         0.046728      135000.0  137642.873684           +
senior           0.040906      135000.0  134602.788043           +
quantitative     0.036615      170000.0  164760.000000           +
machine          0.031660      150000.0  148725.490196           +
big              0.017574      170000.0  178333.333333           +
science          0.015626      148750.0  152751.928571           +
director         0.012119      172500.0  172032.562500           +
risk             0.011145      135000.0  120893.750000           +
environmental    0.010899       78790.5   77260.423077           -
statistical      0.009820       80000.0   87546.239130           -
spark            0.007950       96250.0   96250.000000           -
credit           0.007711      137500.0  137500.000000           +
laboratory       0.007597       73570.5   65485.708333           -
clinical         0.007450       93664.0   96336.083333           -
coordinator      0.007290       83421.5   76720.357143           -

In [539]:
important_features_df.to_csv('../csvs/features_df.csv')

In [540]:
important_features_df.head()

           importance  word medians     word means word effect
data         0.089219      130000.0  135788.343254           +
scientist    0.068727      125000.0  127673.600418           +
learning     0.065603      150000.0  149711.538462           +
analyst      0.063372       75000.0   85742.476510           -
research     0.059086       60000.0   72053.408730           -

In [466]:
feature_importances.head(20).to_csv('feature_importance.csv')

In [461]:
from sklearn.cross_validation import cross_val_score, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [460]:
dt = DecisionTreeClassifier(max_depth = 3, min_samples_split = 2)
dt.fit(cvec_data, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [462]:
import graphviz

export_graphviz(dt, out_file="mytree.dot")
with open("mytree.dot") as f:
    dot_graph = f.read()
graphviz.Source(dot_graph)

In [464]:
all(clf.feature_importances_ == np.mean([tree.feature_importances_ for tree in clf.estimators_], axis=0))

importances = clf.feature_importances_
# calculate the standard deviation of feature importances by looping over the trees in the random forest
# 

std = np.std([tree.feature_importances_ for tree in clf.estimators_], axis=0)

indices = np.argsort(importances)[::-1]
feature_names = X_cvec_train.columns

# Plot the feature importances of the forest
plt.figure()
plt.title("Feature importances")
plt.bar(range(X_cvec_train.shape[1]), importances[indices],
       color="r", yerr=std[indices], align="center")
plt.xticks(range(X_cvec_train.shape[1]), feature_names[indices], rotation=90)
plt.xlim([-1, X_cvec_train.shape[1]])

(-1, 459)

,Job Title,Company,Location,Salary,Search Term,lower_sal_val,upper_sal_val,mean salary,median_bool,60_perc_bool,70_perc_bool,75_perc_bool,90_perc_bool,state
0,Data Scientist,Platinum Solutions,"Houston, TX",80000 - 120000,Houston,80000,120000,100000.0,False,False,False,False,False,'TX'
1,Bioinformatics Software Developer,Genialis,"Houston, TX",50000 - 80000,Houston,50000,80000,65000.0,False,False,False,False,False,'TX'
2,Quality Assurance Analyst (Research),Baylor College of Medicine,"Houston, TX",43794,Houston,43794,43794,43794.0,False,False,False,False,False,'TX'
3,Flow Cytometry Specialist I,Baylor College of Medicine,"Houston, TX",46831,Houston,46831,46831,46831.0,False,False,False,False,False,'TX'
4,Research Statistical Analyst -Bioinformatics &...,MD Anderson Cancer Center,"Houston, TX",66400 - 99600,Houston,66400,99600,83000.0,False,False,False,False,False,'TX'

#### Rebuild this model with the new variables
- You can either create the dummy features manually or use the `dmatrix` function from `patsy`
- Remember to scale the feature variables as well!

In [19]:
## YOUR CODE HERE

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy of the model.

In [20]:
## YOUR CODE HERE

In [22]:
## YOUR CODE HERE

#### Continue to incorporate other text features from the title or summary that you believe will predict the salary and examine their coefficients

#### Take ~100 scraped entries with salaries. Convert them to use with your model and predict the salary - which entries have the highest predicted salaries?

### BONUS

#### Bonus: Use Count Vectorizer from scikit-learn to create features from the text summaries. 
- Examine using count or binary features in the model
- Re-evaluate your models using these. Does this improve the model performance? 
- What text features are the most valuable?

In [23]:
## YOUR CODE HERE

In [24]:
## YOUR CODE HERE